.DS_Store
build/
target/
*.iml
*.pyc
.cache/
.idea/
.janala/
*.log
results-*/
*_crashes/
*.swp
apidocs/
experiments/*-results-*
*-results/
.java-version
GPATH
GRTAGS
GTAGS
*.bak
src/test/resources/fuzz-results-patch/*
/.metadata/
*.jar
*.class
.project
.classpath
.settings
src/test/resources/log/*
fuzz/JQF/*
fuzz/Math_40/*
fuzz/Math_2/*
fuzz/Math_3/*
fuzz/Math_5/*
fuzz/Math_33/*
fuzz/Math_41/*
fuzz/Math_46/*
fuzz/Math_43/*
fuzz/Math_70/*
fuzz/Math_79/*
fuzz/Math_82/*